package models.commons.constantes;

import infra.model.Constante;

/**
 * Constante ref. ao conjunto de valores de ...
 *
 * <p>Autor: @nomeAutor</p>
 */
public enum $nomeEnum implements Constante<$tipoJava> {

    #foreach ( $c in $constantes )
    /**
     * $constante.Valor
     */
    #set( $declaracao = $StringUtils.join( $c.Nome, '( "', $c.Descricao, ' "), ', $c.Descricao, " )"
    #if( $foreach.hasNext )
    $StringUtils.join($declaracao,',')
    #else
    $declaracao
    ;
    #end

    private final String descricao;
    private final Long valor;

    $nomeEnum(
        final String descricao,
        final $tipoJava valor
    ) {

        this.descricao = descricao;
        this.valor = valor;
    }

    @Override
    public String getDescricao() {

        return this.descricao;
    }

    @Override
    public $tipoJava getValor() {

        return this.valor;
    }
}
