package models.commons.constantes;

import infra.model.Constante;

/**
 * Constante ref. ao conjunto de valores de ...
 *
 * <p>Autor: $nomeAutor</p>
 */
public enum $nomeEnum implements Constante<$tipoJava> {

    #foreach ( $c in $constantes )
    /**
     * $c.Valor
     */
    #set ( $descricao = $StringUtils.join( '"', $c.Descricao, '"' ) )

    $descricao
    ;
    #end

    private final String descricao;
    private final Long valor;

    $nomeEnum(
        final String descricao,
        final $tipoJava valor
    ) {

        this.descricao = descricao;
        this.valor = valor;
    }

    @Override
    public String getDescricao() {

        return this.descricao;
    }

    @Override
    public $tipoJava getValor() {

        return this.valor;
    }
}
