#set( $tipoShort = $EnumTipoShort.equals( $tipoJava ) )
package models.commons.converters;

import models.commons.constantes.$nomeEnum;

import jakarta.persistence.AttributeConverter;
import jakarta.persistence.Converter;

#if ( $tipoShort )
import static infra.util.UtilNumero.toShort;
import static infra.model.Constante.getIntegerValue;
#else
import static infra.model.Constante.getValue;
#end
import static infra.util.UtilEnum.getEnum;

/**
 * Classe converter para constante $nomeEnum
 *
 * <p>Autor: $nomeAutor</p>
 *
 * @since $dataHora
 * @see models.commons.constantes.$nomeEnum
 */
@Converter
#if ( $tipoShort )
public class $StringUtils.join( $nomeEnum, "Converter" ) implements AttributeConverter<$nomeEnum,Integer> {

    @Override
    public Integer convertToDatabaseColumn( final $nomeEnum value ) {
        return getIntegerValue( value );
    }

    @Override
    public $nomeEnum convertToEntityAttribute( final Integer dbValue ) {
        return getEnum( $StringUtils.join( $nomeEnum, '.class' ), toShort( dbValue ) );
    }
}
#else
public class $StringUtils.join( $nomeEnum, "Converter" ) implements AttributeConverter<$nomeEnum,$tipoJava> {

    @Override
    public $tipoJava convertToDatabaseColumn( final $nomeEnum value ) {
        return getValue( value );
    }

    @Override
    public $nomeEnum convertToEntityAttribute( final $tipoJava dbValue ) {
        return getEnum( $StringUtils.join( $nomeEnum, '.class' ), dbValue );
    }
}
#end
