package models.commons.converters;

import models.commons.constantes.$nomeEnum;

import javax.persistence.AttributeConverter;
import javax.persistence.Converter;

import static infra.util.UtilConstante.getValor;
import static infra.util.UtilEnum.getEnum;

/**
 * Classe converter para constante $nomeEnum
 *
 * <p>Autor: $nomeAutor</p>
 *
 * @since $dataHora
 * @see models.commons.constantes.$nomeEnum
 */
@Converter
public class $StringUtils.join( $nomeEnum, "Converter" ) implements AttributeConverter<$nomeEnum,$tipoJava> {

    @Override
    public $tipoJava convertToDatabaseColumn( final $nomeEnum tipoOrigemItemPedido ) {

        return getValor( tipoOrigemItemPedido );
    }

    @Override
    public $nomeEnum convertToEntityAttribute( final $tipoJava valor ) {

        return getEnum( $StringUtils.join( $nomeEnum, '.class' ), valor );
    }
}

