#set( $tipoShort = $EnumTipoShort.equals( $tipoJava ) )
package models.commons.converters;

import models.commons.constantes.$nomeEnum;

import javax.persistence.AttributeConverter;
import javax.persistence.Converter;

#if ( $tipoShort )
import static infra.util.UtilNumero.toShort;
import static infra.util.UtilConstante.getValorInteger;
#else
import static infra.util.UtilConstante.getValor;
#end
import static infra.util.UtilEnum.getEnum;

/**
 * Classe converter para constante $nomeEnum
 *
 * <p>Autor: $nomeAutor</p>
 *
 * @since $dataHora
 * @see models.commons.constantes.$nomeEnum
 */
@Converter
#if ( $tipoShort )
public class $StringUtils.join( $nomeEnum, "Converter" ) implements AttributeConverter<$nomeEnum,Integer> {

    @Override
    public Integer convertToDatabaseColumn( final $nomeEnum value ) {

        return getValorInteger( value );
    }

    @Override
    public $nomeEnum convertToEntityAttribute( final Integer dbValue ) {

        return getEnum( $StringUtils.join( $nomeEnum, '.class' ), toShort( dbValue ) );
    }
}
#else
public class $StringUtils.join( $nomeEnum, "Converter" ) implements AttributeConverter<$nomeEnum,$tipoJava> {

    @Override
    public $tipoJava convertToDatabaseColumn( final $nomeEnum value ) {

        return getValor( value );
    }

    @Override
    public $nomeEnum convertToEntityAttribute( final $tipoJava dbValue ) {

        return getEnum( $StringUtils.join( $nomeEnum, '.class' ), dbValue );
    }
}
#end
