import javax.persistence.Column;
import javax.persistence.Embeddable;
import java.io.Serializable;
import java.util.Objects;

/**
 * Classe que representa o Id da entidade {@link $modelo.getEntidade()}
 *
 * <p>Autor: $nomeAutor</p>
 */
@Embeddable
public class $StringUtils.join($modelo.getEntidade(),"Id") extends Model {

    #set( $texto = "COLUNAS MAPEADAS" )
    #comentario( )

    #foreach( $campo in $campos )
    @Column( name = "$campo.getColunaDB()", columnDefinition = "$campo.getTipoDB()", nullable = $campo.isColNull() )
    private $campo.getTipoJava() $campo.getColunaJava();

    #end

    #set( $texto = "CONSTRUCTOR" )
    #comentario( )

    #set( $texto = "GETTERS && SETTERS" )
    #comentario( )
    #foreach( $campo in $modelo.getCampos() )
    #macroGetterSetters( $campo.getTipoJava() $campo.getColunaJava() )
    #end

    #set( $texto = "EQUALS && HASHCODE" )
    #comentario( )
    @Override
    public boolean equals( final Object obj ) {

        if (this == obj) return true;
        if (!( obj instanceof $modelo.getEntidade() )) return false;
        return Objects.equals( getId(), (($modelo.getEntidade()) obj).getId() );
    }

    @Override
    public int hashCode() {

        return Objects.hash( getId() );
    }

}

#macro( comentario $texto )
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    //
    // $texto
    //
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

#end

#macro( macroGetterSetters $tipo $nomeCampo )
    public $tipo get$StringUtils.capitalize($nomeCampo)() {

        return this.$nomeCampo;
    }

    public void set$StringUtils.capitalize($nomeCampo)( final $tipo $nomeCampo ) {

        this.$nomeCampo = $nomeCampo;
    }

#end