#if ( $StringUtils.isNotBlank( $nomeClasse ) )
<named-native-query
    name="?????"
    result-set-mapping="?????"
>
#else
<named-native-query name="?????">
#end
    <query><![CDATA[

    $query

    ]]></query>
</named-native-query>

#if ( $StringUtils.isNotBlank( $nomeClasse ) )
<sql-result-set-mapping name="?????">
    <constructor-result target-class="models.commons.dtos.$nomeClasse">
        #foreach ( $definicao in $definicoes )
        <column name="$definicao.nomeColunaDB" class="$definicao.tipo.package"/>
        #end
    </constructor-result>
</sql-result-set-mapping>
#end