#if ( $StringUtils.isNotBlank( $nomeClasse ) )
<named-native-query
    name="?????"
    result-set-mapping="?????"
>
#else
<named-native-query name="?????">
#end
    <query><![CDATA[

    $query

    ]]></query>
</named-native-query>

#if ( $StringUtils.isNotBlank( $nomeClasse ) )
<sql-result-set-mapping name="?????">
    <constructor-result target-class="models.commons.dto.$nomeClasse">
        <column name="id" class="java.lang.Long"/>
    </constructor-result>
</sql-result-set-mapping>
#end