package $nomePacote;

import infra.model.api.Repository;
#if ( $StringUtils.isNotBlank( $importJavaId ) )
    #if ( $StringUtils.startsWith( $tipoJavaId, $nomeDomain ) )
$StringUtils.join( "import ", $importJavaId, ".", $nomeDomain, ";" )
$StringUtils.join( "import ", $importJavaId, ".", $tipoJavaId, ";" )
    #else
$StringUtils.join( "import ", $importJavaId, ";" )
    #end
#end

/**
 * Interface Repository para domain: {@link $nomeDomain}
 *
 * <p>Autor: $nomeAutor</p>
 */
#set ( $nomeClasse = $StringUtils.join( $nomeDomain, "Repository" ) )
public interface $nomeClasse extends Repository<$nomeDomain, $tipoJavaId> {


}