package $nomePacote;

import infra.model.api.Repository;
#if ( $StringUtils.isNotBlank( $importJavaId ) )
$StringUtils.join( "import ", $importJavaId, ";" )
#end


/**
 * Interface Repository para domain: {@link $nomeDomain}
 *
 * <p>Autor: $nomeAutor</p>
 */
#set ( $nomeClasse = $StringUtils.join( $nomeDomain, "Repository" ) )
public interface $nomeClasse extends Repository<$nomeDomain, $tipoJavaId> {


}