package $StringUtils.join( $nomePacote, ".impl;" )

import infra.model.impl.JPARepository;

/**
 * Implementação Repository para domain: {@link $nomeDomain}
 *
 * <p>Autor: $nomeAutor</p>
 */
public class $StringUtils.join( "JPA", $nomeDomain, "Repository" )
    extends JPARepository<$nomeDomain, $domainId>
    implements $StringUtils.join( $nomeDomain, "Repository" )
{


}