package $StringUtils.join( $nomePacote, ".impl;" )

import infra.model.impl.JPARepository;
#if ( $StringUtils.isNotBlank( $importJavaId ) )
$StringUtils.join( "import ", $importJavaId, ";" )
#end

/**
 * Implementação Repository para domain: {@link $nomeDomain}
 *
 * <p>Autor: $nomeAutor</p>
 */
public class $StringUtils.join( "JPA", $nomeDomain, "Repository" )
    extends JPARepository<$nomeDomain, $tipoJavaId>
    implements $StringUtils.join( $nomeDomain, "Repository" )
{


}