package $nomePacote;

import infra.model.api.Repository;

/**
 * Interface Repository para domain: {@link $nomeDomain}
 *
 * <p>Autor: $nomeAutor</p>
 */
#set ( $nomeClasse = $StringUtils.join( $nomeDomain, "Repository" ) )
public interface $nomeClasse extends Repository<$nomeDomain, $domainId> {


}