$StringUtils.join( "package ", $nomePacote, ".impl;" )

import infra.model.impl.JPARepository;
#if ( $StringUtils.isNotBlank( $importJavaId ) )
    #if ( $StringUtils.startsWith( $tipoJavaId, $nomeDomain ) )
$StringUtils.join( "import ", $importJavaId, ".", $nomeDomain, ";" )
$StringUtils.join( "import ", $importJavaId, ".", $tipoJavaId, ";" )
    #else
$StringUtils.join( "import ", $importJavaId, ";" )
    #end
#end
$StringUtils.join( "import ", $nomePacote, ".", $nomeDomain, "Repository;" )

/**
 * Implementação Repository para domain: {@link $nomeDomain}
 *
 * <p>Autor: $nomeAutor</p>
 */
public class $StringUtils.join( "JPA", $nomeDomain, "Repository" )
    extends JPARepository<$nomeDomain, $tipoJavaId>
    implements $StringUtils.join( $nomeDomain, "Repository" )
{


}